/* line 2, ../sass/components/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/components/neat/grid/_visual-grid.scss */
body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%));
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 83.69231em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 14, ../sass/layout.sass */
#page {
  *zoom: 1;
  max-width: 83.69231em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 83.69231em;
}
/* line 17, ../sass/components/bourbon/addons/_clearfix.scss */
#page:before, #page:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/components/bourbon/addons/_clearfix.scss */
#page:after {
  clear: both;
}
@media screen and (max-width: 83.69231em) {
  /* line 14, ../sass/layout.sass */
  #page {
    width: auto;
  }
}

/* line 25, ../sass/layout.sass */
.no-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.no-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/layout.sass */
  .no-sidebars #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 65.95745%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 25, ../sass/layout.sass */
  .no-sidebars #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
/* line 35, ../sass/layout.sass */
.one-sidebar.sidebar-second #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-second #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 35, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 35, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
/* line 45, ../sass/layout.sass */
.one-sidebar.sidebar-first #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 82.97872%;
  margin-left: 17.02128%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-first #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 45, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 17.02128%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 45, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
/* line 58, ../sass/layout.sass */
.two-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 57.44681%;
  margin-left: 17.02128%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.two-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 58, ../sass/layout.sass */
  .two-sidebars #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 17.02128%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 58, ../sass/layout.sass */
  .two-sidebars #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

/* line 73, ../sass/layout.sass */
#sidebar-first {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 14.89362%;
  margin-left: -76.59574%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-first:last-child {
  margin-right: 0;
}
/* line 78, ../sass/layout.sass */
.sidebar-first #sidebar-first {
  margin-left: -102.12766%;
}
@media screen and (max-width: 768px) {
  /* line 73, ../sass/layout.sass */
  #sidebar-first {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 14.89362%;
    margin-left: -51.06383%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 85, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: -59.57447%;
  }
}
@media screen and (max-width: 480px) {
  /* line 73, ../sass/layout.sass */
  #sidebar-first {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 91, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: 0%;
  }
}

/* line 94, ../sass/layout.sass */
#sidebar-second {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: 0%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-second:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 94, ../sass/layout.sass */
  #sidebar-second {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 14.89362%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 94, ../sass/layout.sass */
  #sidebar-second {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

/* line 108, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
}

/* line 113, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 124, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* line 129, ../sass/layout.sass */
#navigation li {
  list-style-type: none;
  display: inline-block;
}
