.b-menu-catalog {
	background: #181C1E;
	border-bottom: 1px solid #414649;

	.block-inner {
		width: 280px;
		float: right;
	}

	ul {
		li {
			@include transition(all 0.5s);
			
			padding: 0;
			margin: 0;

			border-bottom: 1px solid #414649;

			list-style: none;
			line-height: 55px;

			opacity: 0.5;

			&.last {
				border: none;
			}

			& > a {

				margin-left: 60px;

				color: #FFF;
				font-size: 16px;
				text-decoration: none;

			}

			&:hover {
				opacity: 1;
			}

			&:nth-child(1) {
				background: url("../images/menu-catalog/1.png") 20px center no-repeat;
			}
			&:nth-child(2) {
				background: url("../images/menu-catalog/2.png") 20px center no-repeat;
			}
			&:nth-child(3) {
				background: url("../images/menu-catalog/3.png") 20px center no-repeat;
			}
			&:nth-child(4) {
				background: url("../images/menu-catalog/4.png") 20px center no-repeat;
			}
			&:nth-child(5) {
				background: url("../images/menu-catalog/5.png") 20px center no-repeat;
			}
			&:nth-child(6) {
				background: url("../images/menu-catalog/6.png") 20px center no-repeat;
			}
			&:nth-child(7) {
				background: url("../images/menu-catalog/7.png") 20px center no-repeat;
			}

		}
	}
}