@charset "UTF-8";
/* line 2, ../sass/components/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import┬á"compass/utilities/sprites";;
@import┬á"../images/social/*.png";;
/* line 14, ../sass/layout.sass */
.r {
  *zoom: 1;
  max-width: 67.14286em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 67.14286em;
}
/* line 17, ../sass/components/bourbon/addons/_clearfix.scss */
.r:before, .r:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/components/bourbon/addons/_clearfix.scss */
.r:after {
  clear: both;
}
@media screen and (max-width: 67.14286em) {
  /* line 14, ../sass/layout.sass */
  .r {
    width: auto;
  }
}

/* line 26, ../sass/layout.sass */
#main {
  *zoom: 1;
  max-width: 67.14286em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 67.14286em;
}
/* line 17, ../sass/components/bourbon/addons/_clearfix.scss */
#main:before, #main:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/components/bourbon/addons/_clearfix.scss */
#main:after {
  clear: both;
}
@media screen and (max-width: 67.14286em) {
  /* line 26, ../sass/layout.sass */
  #main {
    width: auto;
  }
}
@media screen and (min-width: 720px) {
  /* line 26, ../sass/layout.sass */
  #main {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 26, ../sass/layout.sass */
  #main {
    margin-left: 40px;
  }
}

/* line 41, ../sass/layout.sass */
#content .no-sidebars {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
#content .no-sidebars:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 41, ../sass/layout.sass */
  #content .no-sidebars {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 65.95745%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #content .no-sidebars:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 41, ../sass/layout.sass */
  #content .no-sidebars {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #content .no-sidebars:last-child {
    margin-right: 0;
  }
}
/* line 52, ../sass/layout.sass */
.one-sidebar.sidebar-second #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-second #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 52, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 52, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
/* line 62, ../sass/layout.sass */
.one-sidebar.sidebar-first #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 82.97872%;
  margin-left: 17.02128%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-first #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 62, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 17.02128%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 62, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
/* line 75, ../sass/layout.sass */
.two-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 57.44681%;
  margin-left: 17.02128%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.two-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 75, ../sass/layout.sass */
  .two-sidebars #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 17.02128%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 75, ../sass/layout.sass */
  .two-sidebars #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

/* line 90, ../sass/layout.sass */
#sidebar-first {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 14.89362%;
  margin-left: -76.59574%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-first:last-child {
  margin-right: 0;
}
/* line 95, ../sass/layout.sass */
.sidebar-first #sidebar-first {
  margin-left: -102.12766%;
}
@media screen and (max-width: 768px) {
  /* line 90, ../sass/layout.sass */
  #sidebar-first {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 14.89362%;
    margin-left: -51.06383%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 102, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: -59.57447%;
  }
}
@media screen and (max-width: 480px) {
  /* line 90, ../sass/layout.sass */
  #sidebar-first {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 108, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: 0%;
  }
}

/* line 111, ../sass/layout.sass */
#sidebar-second {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: 0%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-second:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 111, ../sass/layout.sass */
  #sidebar-second {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 14.89362%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 111, ../sass/layout.sass */
  #sidebar-second {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

/* line 125, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
}

/* line 130, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 141, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* line 146, ../sass/layout.sass */
#navigation li {
  list-style-type: none;
  display: inline-block;
}

/*# sourceMappingURL=layout.css.map */
